<div class="article-form">
    <form>
        <div class="media-container">
            <label>Title</label>
            <input placeholder="Write your article title HERE!">
            <label>Tags</label>
            <input placeholder="Add at least 2 tag">
        </div>
        <div class="ckeditor-container">
            <ckeditor [editor]="Editor" [config]="config" data="<p></p>">
            </ckeditor>
        </div>
        <button class="gradient-btn-outline"><span class="btn-content">Submit</span></button>
    </form>
</div>