<div [ngClass]="index == 1 
    || (index - 1) % 12 == 0
    ? 'article-card' 
    : (index - 8) % 12 == 0 
        || index == 8 
        ? 'article-card-left'
        : 'article-card-mini'">
    <div class="article-card-media">
        <img class="user-avatar"
            src="https://as1.ftcdn.net/v2/jpg/01/16/24/44/1000_F_116244459_pywR1e0T3H7FPk3LTMjG6jsL3UchDpht.jpg">
        <span class="media-info">
            <em>by</em>
            <span class="user-name">Kapitan Bomba</span>
            <em>on</em>
            <span class="article-date">20.04.2020</span>
        </span>
        <span class="spacer"></span>
        <ng-container *ngIf="isLoggedIn$ | async">
            <ng-container *ngIf="!(isFavorite$ | async); else notFavorite">
                <button class="icon-btn">
                    <span class="material-icons">favorite_outline</span>
                </button>
            </ng-container>
        </ng-container>
    </div>
    <div class="article-card-header">
        <h1 class="article-card-title" [routerLink]="['article', article.id]">
            {{article.title | titlecase}}
        </h1>
        <div class="tags">
            <a class="tag" id="{{tag.id}}" *ngFor="let tag of article.tags">
                {{tag.name}}
            </a>
        </div>
    </div>
    <div class="article-card-content">
        <!-- <p class="article-card-content-text">
            {{article.body | slice:0:200}}...
        </p> -->
        <button class="gradient-btn-outline" [routerLink]="['article', article.id]">
            <a class="btn-content">Continue reading </a>
        </button>
    </div>
</div>
<ng-template #notFavorite>
    <button class="icon-btn">
        <span class="material-icons">favorite</span>
    </button>
</ng-template>