// deeppurple-amber
// indigo-pink
// pink-bluegrey
// purple-green

.articles-cotainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
    margin: 5rem auto 0 auto;
}