@use '../styles/commons' as *;
@use '../styles/mixins' as *;


.content-container {

    padding: 50px 100px;
}

a {
    color: #f44336;

    &:hover {
        color: #673ab7;
    }
}

.content-header {
    @include setFlex();
    padding-bottom: 10px;
}

// .spacer {
//     flex: 1 1 auto;
// }