<form class="log-in-form" novalidate [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <ng-container *ngFor="let control of loginFormGroup.getLogInControls()">
        <mat-form-field appearance="fill">
            <mat-label>{{control.label}}</mat-label>
            <input matInput name="{{control.propertyName}}" formControlName="{{control.propertyName}}" required>
        </mat-form-field>
        <ul class="error-container" *ngIf="control.dirty && control.invalid">
            <li *ngFor="let error of control.getLogInValidatorMessages()">
                {{error}}
            </li>
        </ul>
    </ng-container>
    <button mat-flat-button color="primary" type="submit" [attr.disabled]="loginFormGroup.valid">LOG IN</button>
</form>