<form class="log-in-form" novalidate [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <ng-container *ngFor="let control of loginFormGroup.formControls()">
        <div class="form-container">
            <div class="form-content">
                <label class="form-label" for="{{control.modelProperty}}"
                    [ngClass]="form.value?.length ? '' : 'isEmpty'">{{control.label}}</label>
                <input class="form-input" #form name="{{control.modelProperty}}"
                    formControlName="{{control.modelProperty}}" id="{{control.modelProperty}}" required />
            </div>
            <div class="form-hint-warn" *ngFor="let error of control.getValidatorMessages()">
                <ng-container *ngIf="control.dirty && control.invalid">{{error}}</ng-container>
            </div>
        </div>
    </ng-container>
    <button class="gradient-btn-form" type="submit"><a class="btn-content">LOG IN</a></button>
</form>