<form class="log-in-form" novalidate [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <ng-container *ngFor="let control of loginFormGroup.formControls()">
        <mat-form-field appearance="fill">
            <mat-label>{{control.label}}</mat-label>
            <input matInput name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}" required />
            <mat-hint *ngFor="let error of control.getValidatorMessages()">
                <ng-container *ngIf="control.dirty && control.invalid">{{error}}</ng-container>
            </mat-hint>
        </mat-form-field>
    </ng-container>
    <button mat-flat-button color="primary" type="submit">LOG IN</button>
</form>