<form class="register-form" novalidate [formGroup]="registerFormGroup">
    <ng-container *ngFor="let control of registerFormGroup.formControls">
        <ng-container
            *ngIf="control.modelProperty != 'password' && control.modelProperty != 'confirmPassword'; else passwordBlock">
            <mat-form-field appearance="fill">
                <mat-label>{{control.label}}</mat-label>
                <input matInput class="form-control" name="{{control.modelProperty}}"
                    formControlName="{{control.modelProperty}}" />
            </mat-form-field>
        </ng-container>
        <mat-list *ngIf="control.dirty && control.invalid">
            <mat-list-item *ngFor="let error of control.getValidatorMessages()">
                {{error}}
            </mat-list-item>
        </mat-list>
        <ng-template #passwordBlock>
            <mat-form-field appearance="fill">
                <mat-label>{{control.label}}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </ng-template>
    </ng-container>
    <button mat-flat-button color="primary">Register</button>
</form>