mat-card {
    margin: 5px auto;
    text-align: left;
}

button {
    &.thumb-up {
        color: green;
    }

    &.thumb-down {
        color: #f44336;
    }

}

.avatar-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}