<!-- <form class="comment-form" novalidate [formGroup]="commentFormGroup" (ngSubmit)="submitComment()">
    <ul class="error-container"
        *ngIf="commentFormGroup.controls['body'].dirty && commentFormGroup.controls['body'].invalid">
        <li *ngFor="let error of commentFormGroup.getValidatorMessages('body')">
            {{error}}
        </li>
    </ul>
    <div class="comment-form-input">
        <label for="comment" [ngClass]="commentarea.value?.length ? '' : 'isEmpty'">Leave a comment...</label>
        <textarea id="comment" #commentarea maxlength="200" name="Body" placeholder="Ex. It makes me feel..."
            formControlName="body"></textarea>
        <div class="form-hint">
            <span class="toolbar-spacer"></span>
            <span>{{commentarea.value?.length || 0}}/{{maxCharacters}}</span>
        </div>
    </div>
    <button class="gradient-btn" type="submit" [disabled]="(commentarea.value?.length || 0) < minCharacters">
        Post comment
    </button>
    <button class="gradient-btn" type="reset">Cancel</button>
</form> -->
<form novalidate [formGroup]="commentFormGroup" (ngSubmit)="submitComment()">
    <div class="form-field-container-comment">
        <label class="form-label-comment" for="comment" [ngClass]="commentarea.value?.length ? '' : 'isEmpty'">Leave a
            comment...</label>
        <textarea class="form-input-comment" id="comment" #commentarea maxlength="200" name="Body"
            placeholder="Ex. It makes me feel..." formControlName="body"></textarea>
        <div class="form-hint" align="end">
            <span>{{commentarea.value?.length || 0}}/{{maxCharacters}}</span>
        </div>
        <ng-container *ngIf="commentFormGroup.controls['body'].dirty && commentFormGroup.controls['body'].invalid">
            <div class="form-hint-warn" align="start"
                *ngFor="let error of commentFormGroup.getValidatorMessages('body')">
                <span>{{error}}</span>
            </div>
        </ng-container>
    </div>
    <button class="gradient-btn" type="submit" [disabled]="(commentarea.value?.length || 0) < minCharacters">
        Post comment
    </button>
    <button class="gradient-btn" type="reset">Cancel</button>
</form>