<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="avatar-image"></div>
        <mat-card-title>{{comment.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{comment.body}}</mat-card-content>
    <mat-card-actions align="end">
        <div>
            <button mat-icon-button class="thumb-up">
                <mat-icon>thumb_up_off_alt</mat-icon>
            </button>
            {{comment.upVotes}}
        </div>
        <div>
            <button mat-icon-button class="thumb-down">
                <mat-icon>thumb_down_off_alt</mat-icon>
            </button>
            {{comment.downVotes}}
        </div>
    </mat-card-actions>
</mat-card>