@use '../styles/buttons' as *;
@use '../styles/forms' as *;
@use '../styles/variables' as *;

.form-label {
    &-comment {
        @extend .form-label;
        background-color: white;
    }
}

.form-input {
    &-comment {
        width: 100%;
        height: 100px;
        padding: 10px;
        border: none;
        overflow: auto;
        outline: none;
        resize: none;
        border: double 1px $border-color;

        &::placeholder {
            opacity: 0;
        }

        &:focus {
            border: double 1px transparent;
            border-image-source: $gradient-primary;
            border-image-slice: 1;

            &::placeholder {
                opacity: 1;
                color: #999b9c;
            }

        }
    }
}

.form-field-container {
    &-comment {
        @extend .form-field-container;

        &:focus-within .form-label,
        .form-label:not(.isEmpty) {
            margin-top: -0.3rem;
        }
    }
}