<form novalidate [formGroup]="commentFormGroup" (ngSubmit)="submitComment()">
    <div class="form-field-container-comment">
        <div class="form-content">
            <label class="form-label-comment" for="comment" [ngClass]="commentarea.value.length ? '' : 'isEmpty'">
                Leave a comment...</label>
            <textarea class="form-input-comment" id="comment" #commentarea maxlength="200" name="Body"
                placeholder="Ex. It makes me feel..." formControlName="body"></textarea>
            <div class="form-hint">
                <span class="spacer"></span>
                <span>{{commentarea.value.length || 0}}/{{maxCharacters}}</span>
            </div>
        </div>
        <ng-container *ngIf="commentFormGroup.controls['body'].dirty && commentFormGroup.controls['body'].invalid">
            <div class="form-hint-warn" *ngFor="let error of commentFormGroup.getValidatorMessages('body')">
                <span>{{error}}</span>
                <span class="spacer"></span>
            </div>
        </ng-container>
    </div>
    <button class="gradient-btn" type="submit" [disabled]="!commentFormGroup.valid">
        Post comment
    </button>
    <button class="gradient-btn" type="reset">Cancel</button>
</form>{{commentarea.valid}}