<div class="dialog-container">
    <ng-container *ngIf="isLogInDialog; else register">
        <span>Sign in to continue. </span><span>Not a member?<a (click)="isLogInDialog=!isLogInDialog"> Register
                now!</a></span>
        <form class="log-in-form" novalidate [formGroup]="logInDialogFormGroup" (ngSubmit)="login()">
            <ng-container *ngFor="let control of logInDialogFormGroup.getLogInControls()">
                <mat-form-field appearance="fill">
                    <mat-label>{{control.label}}</mat-label>
                    <input matInput name="{{control.propertyName}}" formControlName="{{control.propertyName}}" required>
                </mat-form-field>
                <ul class="error-container" *ngIf="control.dirty && control.invalid">
                    <li *ngFor="let error of control.getLogInValidatorMessages()">
                        {{error}}
                    </li>
                </ul>
            </ng-container>
            <button mat-flat-button color="primary" type="submit">LOG IN</button>
        </form>
    </ng-container>
</div>

<ng-template #register>
    <span>Register </span><span>Are you a member?<a (click)="isLogInDialog=!isLogInDialog"> Login
            now!</a></span>
    <mat-form-field appearance="fill" class="flex-width">
        <mat-label>User name</mat-label>
        <input matInput placeholder="pat@example.com" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="flex-width">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-flat-button color="primary" class="full-width">Register</button>
</ng-template>