<div class="nav-container">
    <div class="side-navbar" *ngIf="isOpen" [@toggleNavBar]>
        <div class="side-navbar-content">
            <div class="nav-toolbar">
                <span>Menu</span><span class="material-icons icon-btn" (click)="toggleNavBar()">close</span>
            </div>
            <ul>
                <li class="side-navbar-list-item" [routerLink]="['']">
                    <span class="material-icons">home</span><span>Home</span>
                </li>
                <ng-container *ngFor="let option of navBarOptions">
                    <li class="side-navbar-list-item" *ngIf="isLoggedIn$ | async" [routerLink]="[option.route]">
                        <span class="material-icons">{{ option.icon }}</span><span>{{ option.nav }}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="backdrop" (click)="toggleNavBar()"></div>
    </div>
    <div class="nav-toolbar">
        <span class="material-icons icon-btn" (click)="toggleNavBar()">menu</span><span>Menu</span>
        <ng-container *ngIf="!showSearchBar; else searchBar">
            <span class="material-icons icon-btn" (click)="showSearchBar=!showSearchBar">search</span>
            <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
                <span class="spacer"></span>
                <span class="material-icons icon-btn">notifications</span>
                <span class="material-icons icon-btn">account_circle</span>
                <button (click)="logOut()" class="gradient-btn">
                    <span class="btn-content">Log Out <span class="material-icons">logout</span></span>
                </button>
            </ng-container>
        </ng-container>
    </div>
    <div class="outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #searchBar>
    <form appearance="standard" class="spacer">
        <label>Search</label>
        <input matInput>
    </form>
    <button mat-button (click)="showSearchBar=!showSearchBar">
        <span class="material-icons icon-btn">close</span>
    </button>
</ng-template>

<ng-template #notLoggedIn>
    <span class="spacer">Hello reader!</span>
    <button (click)="openAuthDialog()" class="gradient-btn">
        <span class="btn-content">REGISTER / LOG IN <span class="material-icons">login</span></span>
    </button>
</ng-template>