// span {
//     text-align: center;
// }

// .sticky {
//     position: fixed;
//     /* Ensure that content doesn't overlap the toolbar */
//     z-index: 1000;
//     top: 0;
// }

// button {
//     margin: 2px;
// }
//-----------------------------------------

@import '../article/article.component.scss';

.side-navbar {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;

    .nav-toolbar {
        justify-content: space-between;
        position: static !important;
    }

    &.sidebar-close {
        transform: translateX(-100%);
    }

    .backdrop {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        &.collapsed {
            background: transparent !important;
        }
    }

    .side-navbar-content {
        position: absolute;
        width: 180px;
        top: 0;
        bottom: 0;
        background-color: white;

        ul {
            padding: 0px;

            li {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                height: 40px;
                width: 100%;
                transition: all 0.5s ease-in-out;
                user-select: none;
                padding: 0 20px;
                white-space: nowrap;

                &:hover {
                    box-shadow: 0 3px 20px 0 rgba(84, 110, 122, 0.1);
                    border-top: 1px solid #E7EBED;
                    border-bottom: 1px solid #E7EBED;
                    cursor: pointer;
                }
            }
        }
    }
}


.nav-toolbar {
    position: fixed;
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E7EBED;
    font-size: 1.5rem;
    gap: 10px;
    white-space: nowrap;
    background-color: white;
    top: 0;

    .material-icons {
        cursor: pointer;
    }
}

.nav-content {
    margin: 0 auto;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.gradient-btn {
    @extend .gradient-btn;
    height: 40px;
    background-image: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045),
        linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    color: white;

    a {
        padding: 0 10px;
    }
}