<div class="content-container">
    <ng-container *ngIf="isLoginDialog; else register">
        <div class="content-header">
            <span>Sign in to continue.</span>
            <span class="spacer"></span>
            <span>Not a member?<a class="dialog-switch" (click)="isLoginDialog=!isLoginDialog">
                    Register now!</a></span>
        </div>
        <app-login></app-login>
    </ng-container>
</div>
<ng-template #register>
    <div class="content-header">
        <span>Register </span>
        <span class="spacer"></span>
        <span>Are you a member?<a class="dialog-switch" (click)="isLoginDialog=!isLoginDialog">
                Login now!</a></span>
    </div>
    <app-register></app-register>
</ng-template>