@use './variables';
@use './mixins';

$button_transition: 0.25 ease-in-out;
$font_weight: 500;


.gradient-btn {
    @extend %onHoverBtn;
    @include setFlex($display: inline-flex);
    border-radius: 20px;
    border: double 5px transparent;
    background-image: $gradient-color, $gradient-color;
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    transition: $button_transition;

    &-outline {
        background-image: $gradient-white, $gradient-color;
    }

    &,
    &-outline {
        .btn-content {
            @include setFlex();
            font-weight: $font_weight;
        }
    }
}

.favorite-btn {
    @extend %onHoverBtn;
    @include setFlex($display: inline-flex);
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
}

%onHoverBtn {
    &:hover {
        @include onHoverCursorPointer;
        color: white;
        background-image: $gradient-color, $gradient-color;
        transform: translateY(-1px);
    }
}