@use './variables' as *;
@use './mixins' as *;
@use './commons' as *;
@use './functions' as *;

$font_weight: 500;

.gradient-btn {
    @extend %onHoverBtn;
    @include setFlex($display: inline-flex);
    border-radius: 20px;
    border: double 5px transparent;
    background-image: $gradient-primary, $gradient-primary;
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: white;
    transition: $transition;

    &-outline {
        @extend .gradient-btn;
        color: black;
        background-image: $gradient-secondary, $gradient-primary;
    }

    &-form {
        @extend .gradient-btn;
        width: 100%;
    }

    &,
    &-outline,
    &-form {
        .btn-content {
            @include setFlex();
            font-weight: $font_weight;
            font-size: 1rem;
            padding: convertPxToRem(10) convertPxToRem(50);
        }

        &[disabled] {
            background-image: linear-gradient(#999b9c, #999b9c),
                linear-gradient(#999b9c, #999b9c);
            color: black;
        }
    }
}

.form-icon-btn {
    @extend .icon-btn;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    margin: 0 5px;
}

.icon-btn {
    @extend %onHoverCursorPointer;
    @include setFlex();
    border-radius: 50%;
    padding: 5px;
    border: transparent;
    background-color: transparent;

    &:hover {
        background-color: $border-color;
    }
}

.thumb-up-btn,
.thumb-down-btn {
    @extend .icon-btn;
    justify-content: flex-end;
    gap: 5px;
}

.thumb-up-btn {
    color: green;
}

.thumb-down-btn {
    color: red;
}

%onHoverBtn {
    &:hover {
        @extend %onHoverCursorPointer;

        &:not([disabled]) {
            color: white;
            background-image: $gradient-primary, $gradient-primary;
            transform: translateY(-1px);
        }
    }
}