@use './variables' as *;
@use './mixins' as *;
@use './commons' as *;
@use './functions' as *;

$button_transition: 0.25 ease-in-out;
$font_weight: 500;

.gradient-btn {
    @extend %onHoverBtn;
    @include setFlex($display: inline-flex);
    border-radius: 20px;
    border: double 5px transparent;
    background-image: $gradient-color, $gradient-color;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: $button_transition;
    color: white;

    &-outline {
        @extend .gradient-btn;
        color: black;
        background-image: $gradient-white, $gradient-color;
    }

    &-form {
        @extend .gradient-btn;
        width: 100%;
    }

    &,
    &-outline,
    &-form {
        .btn-content {
            @include setFlex();
            font-weight: $font_weight;
            font-size: 1rem;
            padding: convertPxToRem(10) convertPxToRem(50);
        }

        &[disabled] {
            background-image: linear-gradient(#999b9c, #999b9c),
                linear-gradient(#999b9c, #999b9c);
            color: black;
        }
    }
}

.favorite-btn {
    @extend %onHoverCursorPointer;
    @include setFlex($display: inline-flex);
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
}

.form-icon-button {
    @include positionAbsoluteElem(50%, 100%);
    border: none;
    background-color: transparent;
}

%onHoverBtn {
    &:hover {
        @extend %onHoverCursorPointer;
        color: white;
        background-image: $gradient-color, $gradient-color;
        transform: translateY(-1px);
    }
}