mat-card {
    max-width: 600px;
    margin: 5px auto;
    width: 100%;
}

button {
    &.thumb-up {
        color: green;
    }

    &.thumb-down {
        color: red;
    }

}

.avatar-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}