<form class="comment-form" novalidate [formGroup]="commentFormGroup" (ngSubmit)="submitComment()">
    <ul class="error-container"
        *ngIf="commentFormGroup.controls['body'].dirty && commentFormGroup.controls['body'].invalid">
        <li *ngFor="let error of commentFormGroup.getValidatorMessages('body')">
            {{error}}
        </li>
    </ul>
    <div class="comment-form-input">
        <label for="comment" [ngClass]="commentarea.value?.length ? '' : 'isEmpty'">Leave a comment...</label>
        <textarea id="comment" #commentarea maxlength="200" name="Body" placeholder="Ex. It makes me feel..."
            formControlName="body"></textarea>
        <div class="form-hint">
            <span class="toolbar-spacer"></span>
            <span>{{commentarea.value?.length || 0}}/{{maxCharacters}}</span>
        </div>
    </div>
    <button class="gradient-btn" type="submit" [disabled]="(commentarea.value?.length || 0) < minCharacters">
        Post comment
    </button>
    <button class="gradient-btn" type="reset">Cancel</button>
</form>