<div class="comment-container">
    <div class="comment-header">
        <img class="user-avatar"
            src="https://as1.ftcdn.net/v2/jpg/01/16/24/44/1000_F_116244459_pywR1e0T3H7FPk3LTMjG6jsL3UchDpht.jpg">
        <em>by</em>
        <p class="user-name">Kapitan Bomba</p>
        <em>on</em>
        <p class="article-date">20.04.2020</p>
    </div>
    <div class="comment-content">{{comment.body}}</div>
    <div class="comment-actions">
        <button class="thumb-up-btn">
            <span class="material-icons">thumb_up_off_alt</span>
            <span>{{comment.upVotes}}</span>
        </button>
        <button class="thumb-down-btn">
            <span class="material-icons">thumb_down_off_alt</span>
            <span>{{comment.downVotes}}</span>
        </button>
    </div>